{% extends "index.html" %}
{% load static %}

{% block words %}
<div class="card">
    <img style="width:230px;height:200px" src="{% static '/images/' %}{{ driver.image }}" class="card-img-center"
        alt="...">
    <div class="card-body">
        <h4 class="card-title">{{ driver.name}}</h4>
        <h6 class="card-text"> {{ driver.country }} </h6>
        <h6 class="card-text"> {{ driver.car.name }} &nbsp;&nbsp;
            {% if request.user.is_staff %} <a href="{% url 'Driver:edit' driver.id %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Edit</a> {% endif %} </h6>
        <p class="card-text"> Score: {{ driver.score }}</p>
    </div>
</div>

{% endblock%}
{% block content %}





    {% endblock%}