<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
    <style>
        body,
        html {
            height: 100%;
            font-family: "Inconsolata", sans-serif;
        }

        .bgimg {
            background-position: center;
            background-size: cover;
            background-image: url("/static/images/homepage\ image.jpg");
            min-height: 100%;
        }

        .menu {
            display: none;
        }
    </style>
</head>

<body>

    <!-- Links (sit on top) -->
    <div class="w3-top">
        <div class="w3-row w3-padding w3-black">
            <div class="w3-col s3">
                    <!-- login register -->
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if user.is_authenticated %}
        <li><span>Hello {{ user.username }}! &nbsp;</span>
        <li><a href="{% url 'logout' %}">Log Out</a>
            {% else %}
            <form action="{% url 'mylogin' %}" method="POST">
                {% csrf_token %}
                USERNAME
                <input type="text" name="username">
                <br>
                PASSWORD
                <input type="password" name="password">
                <br>
                <input type="submit" name="Login">
            </form>
            {% endif %}
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
            </ul>
            {% endif %}
    </ul>

    
    <!-- end login register-->

            </div>
            <div class="w3-col s3">
                <a href="/register" class="w3-button w3-block w3-black">Register</a>
            </div>
            <div class="w3-col s3">
                <a href="/Driver/" class="w3-button w3-block w3-black">Our drivers</a>
            </div>
            <div class="w3-col s3">
                <a href="/Driver/driver_standing" class="w3-button w3-block w3-black">Driver standing</a>
            </div>
            <div class="w3-col s3">
                <a href="/Race/all_races" class="w3-button w3-block w3-black">All races</a>
            </div>
        </div>
    </div>


    <!-- Header with image -->
    <header class="bgimg w3-display-container w3-grayscale-min" id="home">
        <div class="w3-display-bottomleft w3-center w3-padding-large w3-hide-small">
        </div>
        <div class="w3-display-middle w3-center">
            <span class="w3-text-white" style="font-size:75px">Welcome To<br>F1 Website<br>please log in</span>
            
        </div>

    </header>



</body>

</html>



