{% extends "index.html" %}
{% load static %}
{% block title %}
{% endblock %}

{% block headers %}
        <div class="w3-col s2">
          <a href="/Driver" class="w3-button w3-block w3-black">Our drivers</a>
        </div>
        <div class="w3-col s2">
          <a href="/Driver/driver_standing" class="w3-button w3-block w3-black">Driver standing</a>
        </div>
        <div class="w3-col s2">
          <a href="/Race/add_race" class="w3-button w3-block w3-black">Add race</a>
        </div>
        <div class="w3-col s2">
          <a href="/Race/add_standings" class="w3-button w3-block w3-black">Add standing</a>
    </div>
</div>
</div>


{% endblock %}

{% block content %}
<br><br><br>
<table class="table table-bordered">
  <!--  <caption class="p-3 mb-2 bg-dark text-white fs-3 fw-bold">Driver Standing </caption>-->
  <thead>
    <tr class="table-danger">
      <th scope="col">Race Name</th>
      <th scope="col">Type</th>
      <th scope="col">1</th>
      <th scope="col">2</th>
      <th scope="col">3</th>
      <th scope="col">4</th>
      <th scope="col">5</th>
      <th scope="col">6</th>
      <th scope="col">7</th>
      <th scope="col">8</th>
      <th scope="col">9</th>
      <th scope="col">10</th>
      <th scope="col">Fastest</th>
    </tr>
  </thead>
  <tbody>{% for race in races %}
    <tr class="table-warning">
      <th scope="row"> {{ race.0 }} </th>
      <td>{{ race.0.race_type }}</td>
      <td>{{ race.1 }}</td>
      <td>{{ race.2 }}</td>
      <td>{{ race.3 }}</td>
      <td>{{ race.4 }}</td>
      <td>{{ race.5 }}</td>
      <td>{{ race.6 }}</td>
      <td>{{ race.7 }}</td>
      <td>{{ race.8 }}</td>
      <td>{{ race.9 }}</td>
      <td>{{ race.10 }}</td>
      <td>{{ race.0.fastest_driver }}</td>
    </tr> {% endfor %}
  </tbody>
</table>

{% endblock %}