{% extends "index.html" %}
{% load static %}
{% block title %}
{% endblock %}
{% block content %}


<br><br><br>
<h6><a href=/Race/add_race class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Add new race<a>
      <a href=/Race/add_standings class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Add
        Standings</a></h6>

<table class="table caption-top">
  <tbody>{% for race in races %}
    <tr class="table-danger">
      <th><h5>{{ race.0 }}<br> Fastest driver: {{ race.0.fastest_driver }}</h5>  </th>
      {% for item in race %}
      <td><h6>{{ item.standing }}.   {{ item.driver }}</h6></td>
    </tr> {% endfor %}{% endfor %}
  </tbody>
</table>


{% endblock %}